[Desktop Entry]
Encoding=UTF-8
Name=Pixcoin
Comment=Pixcoin P2P Cryptocurrency
Comment[fr]=Pixcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Pixcoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/pixcoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/pixcoin128.png
MimeType=x-scheme-handler/pixcoin;
Categories=Office;
