src/*.exe
src/pixcoin
src/pixcoind
src/test_pixcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.pixcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
pixcoin-qt
Pixcoin-Qt.app

# Unit-tests
Makefile.test
pixcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

# Windows specific
Thumbs.db

!src/leveldb*/Makefile
